.logo {
  text-align: center;
}

.tabs {
  text-align: right;
  padding-right: 10%;
}

h1 {
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map_canvas {
  height: 100%;
  width: 100%;
}
