.logo {
  text-align: center;
}

.tabs {
  text-align: right;
  padding-right: 10%;
}

h1 {
  text-align: center;
}

html {
  height: 100%;
}

#store_name {
  font-weight: bold;
}

#map_page {
  height: 100%;
  margin: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

.createForm img {
  cursor: pointer;
  max-width: 299px;
  max-height: 272px;
}

#brand-img {
  max-height: 100%;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

body{
padding-top: 70px;
}